[mysqld]
long_query_time = 1
general_log = 1
slow_query_log = 1
long_query_time = 1
slow_query_log_file = /var/lib/mysql/docker_mysql_1_slow_queries.log
general_log_file = /var/lib/mysql/docker_mysql_1_general.log
log_queries_not_using_indexes